.activity-card {
  border-radius: 12px;
}

.activity-card__top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.activity-card__location {
  margin-top: 16px;
}

.activity-card__details {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 16px;
  margin-top: 20px;
}

.activity-card__participants {
  text-align: right;
}

@media (max-width: 500px) {
  .activity-card__top,
  .activity-card__details {
    align-items: start;
    flex-direction: column;
  }

  .activity-card__participants {
    text-align: left;
  }
}
